<header class="header-container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo.png" alt="Centi-Phone Logo" />
      </a>
      <h1>Centi-Phone</h1>
    </div>
  
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active">Accueil</a>
      <a routerLink="/services" routerLinkActive="active">Services</a>
      <a routerLink="/products" routerLinkActive="active">Produits</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  
    <div class="auth-links">
      <a routerLink="/auth/login" class="login-btn">Connexion</a>
    </div>
  </header>
  
